@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Righteous&display=swap');
@import "main.css";

:root {
    --primary-font: 'Righteous', cursive;
    --secondary-font: 'Raleway', sans-serif;
    --background-color: hsla(45, 69%, 90%, 1);
    --primary-color: hsla(199, 48%, 19%, 1);
    --secondary-color: hsla(45, 89%, 53%, 1);
    --third-color: hsla(358, 74%, 65%, 1);
    --hover-color: hsla(189, 53%, 56%, 1);
    --button:hsla(259, 53%, 28%, 1);
    --button-hover:  hsla(259, 45%, 49%, 1);


}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: auto;
    padding: 0;
    height: 100vh;
}
#container-fluid {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 180px;
    text-align: center;
    width: 1000px;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
#hero-content {
    padding: 40px;
    margin-top: 25px;

}

h1 {
    font-family: var(--primary-font);
    font-size:  86px;
    margin: 0;
    color: var(--primary-color);
}
h2 {
    font-size: 36px;
    font-family: var(--secondary-font);
    font-weight: 300;
    color: var(--primary-color);
}

#social-media a  {
    text-decoration: none;
    font-size: 50px;
    margin: 20px;
    color: var(--primary-color);
    
}
.icon {
    transform: rotate(0deg);
    animation-name: beat;
    animation-duration: 1s;
}
@keyframes beat {
    0% {
      transform: scale(1.5) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
} 
#social-media a:hover {
    color: var(--hover-color);
}

#hero-button {
    padding: 40px;

}
.button {
    padding: 26px 20px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 300px;
}
 

.button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: var(--background-color);
    font-family: var(--secondary-font);
}

@media (max-width: 942px) {
    #container-fluid {
        display: block;
        justify-content: center;
        width: 100%;
    }
    .button {
        margin: auto;
    }
}
@media(max-width: 518px) {
    h1 {
        font-size: 75px;
    }
}
@media (max-width: 485px){
    h1 {
        font-size: 70px;
    }
    #social-media a {
        font-size: 45px;
    }
}
@media (max-width: 461px) {
    h1 {
        font-size: 65px;
    }
    #social-media a {
        font-size: 40px;
    }
    .button {
        width: 80%;
    }

}
@media (max-width: 320px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 26px;
    }
}

